@media only screen and (min-width: 768px) {
  .Main-page-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .Main-page-header {
    height: 7vh;
    width: 90%;
    height: 5vh;
    margin-top: 1%;
    margin-bottom: 1.5%;
  }
  .Main-page-card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
  }
  .Main-page-card-container a {
    color: black;
  }
  .Main-page-card-container .Main-page-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 20vh;
    margin: 1%;
    margin-left: 8.2%;
    margin-top: 1%;
    margin-bottom: 2%;
    -ms-flex-preferred-size: 20vh;
        flex-basis: 20vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1%;
    border: solid 2.5px;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #fdfdfd;
    border-color: #f5f5f5;
    border-radius: 5px;
    -webkit-box-flex: 0;
        -ms-flex: 0 35%;
            flex: 0 35%;
  }
  .Main-page-card-container .Main-page-card .Main-page-card-content-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
    min-height: 25%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 2%;
    margin-bottom: 2%;
  }
  .Main-page-card-container .Main-page-card .Main-page-card-content-1 img {
    margin-right: 10%;
  }
  .Main-page-card-container .Main-page-card .Main-page-card-content-description {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
    padding: 2%;
  }
}

@media only screen and (max-width: 768px) {
  .Main-page-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
  }
  .Main-page-header {
    height: 7vh;
    width: 90%;
    height: 5vh;
    margin-top: 1%;
    margin-bottom: 1.5%;
  }
  .Main-page-card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
  }
  .Main-page-card-container a {
    color: black;
  }
  .Main-page-card-container .Main-page-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 35vh;
    margin: 1%;
    margin-left: 8.2%;
    margin-top: 1%;
    margin-bottom: 2%;
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1%;
    border: solid 2.5px;
    -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #fdfdfd;
    border-color: #f5f5f5;
    border-radius: 5px;
    -webkit-box-flex: 0;
        -ms-flex: 0 35%;
            flex: 0 35%;
  }
  .Main-page-card-container .Main-page-card .Main-page-card-content-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70%;
    min-height: 25%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 2%;
    margin-bottom: 2%;
  }
  .Main-page-card-container .Main-page-card .Main-page-card-content-1 img {
    margin-right: 10%;
  }
  .Main-page-card-container .Main-page-card .Main-page-card-content-description {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
    padding: 2%;
  }
}
/*# sourceMappingURL=MainPage.css.map */