* {
  margin: 0;
  padding: 0;
}

@import './ResponsiveVariable';

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

a {
  text-decoration: none;
}

.Navbar {
  width: 100%;
  height: 10vh;
  background-color: #0e153a;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  .Navbar-content-1 {
    flex-basis: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;

    @include desktop {
      padding: 2px;
    }

    p {
      color: #21e6c1;
      font-size: 2rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;

      @include desktop {
        font-size: 3rem;
      }
    }
  }

  .Navbar-content-2 {
    flex-basis: 25vw;
  }

  .Navbar-content-3 {
    flex-basis: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    div {
      display: flex;
      flex-basis: 70%;
      flex-direction: row;
      justify-content: space-around;
    }

    :Link {
      font-size: 1rem;
      margin-right: 10px;

      @include desktop {
        font-size: 1.5rem;
        margin-right: 20px;
      }
    }

    a {
      color: #fff;
    }
  }
}